// There are two other input signals, CLK and RST_N.
// No need to assign any pin to drive CLK.
// Currently overrides BUTTON_CENTER to drive RST_N.
// (In the future we will probably not want such a manual reset.)

// RST_N driven by BUTTON_CENTER
Net "RST_N" LOC = "AG5" | IOSTANDARD = LVTTL;

Net "LED[0]" LOC = "AC4" | IOSTANDARD = LVTTL | DRIVE = 12 | SLEW = SLOW;
Net "LED[1]" LOC = "AC3" | IOSTANDARD = LVTTL | DRIVE = 12 | SLEW = SLOW;
Net "LED[2]" LOC = "AA6" | IOSTANDARD = LVTTL | DRIVE = 12 | SLEW = SLOW;
Net "LED[3]" LOC = "AA5" | IOSTANDARD = LVTTL | DRIVE = 12 | SLEW = SLOW;

Net "SWITCH[0]" LOC = "AC11" | IOSTANDARD = LVCMOS25;
Net "SWITCH[1]" LOC = "AD11" | IOSTANDARD = LVCMOS25;
Net "SWITCH[2]" LOC = "AF8" | IOSTANDARD = LVCMOS25;
Net "SWITCH[3]" LOC = "AF9" | IOSTANDARD = LVCMOS25;

Net "BUTTON_LEFT" LOC = "AH1" | IOSTANDARD = LVTTL;
Net "BUTTON_RIGHT" LOC = "AH2" | IOSTANDARD = LVTTL;
Net "BUTTON_UP" LOC = "AH4" | IOSTANDARD = LVTTL;
Net "BUTTON_DOWN" LOC = "AG3" | IOSTANDARD = LVTTL;
//Net "BUTTON_CENTER" LOC = "AG5" | IOSTANDARD = LVTTL;
