#!/usr/bin/make --no-keep-going -f

##
## The real work is done by SCons.  This file just defines the standard targets
## and invokes SCons.
##

.PHONY: all
all:
	@scons

.PHONY: exe
exe:
	@scons exe

.PHONY: vexe
vexe:
	@scons vexe

.PHONY: bit
bit:
	@scons bit

.PHONY: clean
clean:
	@scons -c
